.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  height: 100vh;
  background: rgb(var(--foreground-rgb));
  color: white;
}

.pattern{
  position:fixed;
  min-width: 1920px;
  width: 100vw;
  object-fit:contain;
  opacity: 20%;
}

.folder{
  position:fixed;
  width: 450px;
  opacity: 60%;
  z-index: 9998;
}

.userform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  margin-top: 25px;
  z-index: 9999;
  font-family:monospace;
  font-size: 13pt;
  letter-spacing: 0.2em;
}

.singleInput{
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 26pt;
  gap: 12px;
  text-transform: uppercase;
}

.formInput{
  width: 180px;
  background-color: transparent;
  border-style: solid;
  border-color: rgb(46, 46, 46);
  border-radius: 30px;
  color: white;
  padding: 0 10px 0 10px;
  font-family:monospace;
  font-size: 10pt;
  letter-spacing: 0.2em;
  text-transform:uppercase;
  text-align: center;
}

.formInput:focus{
  outline: none;
  border-color: rgb(225, 225, 225);
  border-width: 1pt;
}

.buttonSubmit{
  height: 32px;  
  width: 100%;
  font-family:monospace;
  font-size: 15pt;
  font-weight: 800;
  text-transform: uppercase;
  background: white;
  border-color: white;
  border-radius: 30px;
  margin-top: 5px;
}
